@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  line-height: 1.2;
}
body{
  font-family: 'Quicksand', sans-serif;
  color: #252525;
}
.font-russo{
  font-family: 'Russo One', sans-serif;
  font-weight: 400;

}

.swiper {
  width: 100%;
  height: 100%;
  padding: 40px 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next{
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 2px #2525255b;
  height: 70px;
  width: 70px;
  transition: shadow 0.3s ease;
  right: 3px;
}
.swiper-button-next:hover{
  box-shadow: 0px 0px 4px 2px #2525255b;
}
.swiper-button-next::after{
  font-weight: 600;
  color: black;
  font-size: 24px;
}
.swiper-button-prev{
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 2px #2525255b;
  height: 70px;
  width: 70px;
  transition: shadow 0.3s ease;
  left: 3px;
}
.swiper-button-prev:hover{
  box-shadow: 0px 0px 4px 2px #2525255b;
}
.swiper-button-prev::after{
  font-weight: 600;
  color: black;
  font-size: 24px;
}
.swiper-pagination-bullet-active{
  background-color: #F47726;
}